<div class="container">
    <div class="row login-container">
        <form name="signupForm" id="signin-form" class="noselect form-horizontal form-signin col-sm-12 animated bounceInDown" ng-submit="vm.signUp()" novalidate>

            <!-- header link -->
            <a href="/signup" class="signin-header">{{ 'forms.auth.signup_form.headline' | translate }}</a>

            <div class="form-input-fields">
                <!-- e-mail -->
                <div class="row">
                    <div class="col-xs-12" ng-class="{ 'has-error' : signupForm.$submitted }">
                        <label for="inputEmail" class="sr-only">{{ 'forms.auth.email' | translate }}</label>
                        <input unique-email ng-required="true" ng-model="vm.email" name="email" required autocomplete="off" type="email" id="inputEmail" class="form-control" placeholder="{{ 'forms.auth.email' | translate }}" autofocus>
                        <span class="fa fa-envelope errspan"></span>

                        <!-- e-mail / form-errors -->
                        <span class="help-block" ng-show="signupForm.email.$required && signupForm.$submitted" >Your email is requred</span>
                        <span class="help-block" ng-show="signupForm.email.$error.emailExists && signupForm.$submitted">E-mail address exists already</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6" ng-class="{ 'has-error' : signupForm.$submitted }">
                        <!-- first name -->
                        <label for="inputFirstName" class="sr-only">{{ 'forms.auth.firstName' | translate }}</label>
                        <input ng-required="true" ng-model="vm.firstName" name="firstName" required autocomplete="off" type="text" id="inputFirstName" class="form-control" placeholder="{{ 'forms.auth.firstName' | translate }}" autofocus>

                        <!-- first name / form-errors -->
                        <span ng-show="signupForm.firstName.$invalid && signupForm.$submitted" class="help-block">First name is requred</span>
                    </div>

                    <div class="col-xs-6" ng-class="{ 'has-error' : signupForm.$submitted }">
                        <!-- surname -->
                        <label for="inputSurName" class="sr-only">{{ 'forms.auth.lastName' | translate }}</label>
                        <input ng-required="true" ng-model="vm.surName" name="lastName" required autocomplete="off" type="text" id="inputSurName" class="form-control" placeholder="{{ 'forms.auth.lastName' | translate }}" autofocus>
                        <span class="fa fa-user-circle errspan"></span>

                        <!-- surname / form-errors -->
                        <span ng-show="signupForm.lastName.$invalid && signupForm.$submitted" class="help-block">Sur name is requred</span>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6" ng-class="{ 'has-error' : signupForm.$submitted }">
                        <!-- password -->
                        <label for="inputPassword" class="sr-only">{{ 'forms.auth.password' | translate }}</label>
                        <input ng-minlength="6" ng-required="true" data-password-toggle ng-model="vm.password" name="password" required type="password" id="inputPassword" class="form-control" placeholder="{{ 'forms.auth.password' | translate }}">

                        <!-- password / form-errors -->
                        <span ng-show="signupForm.password.$error.required && signupForm.$submitted" class="help-block">Password is required</span>
                        <span ng-show="signupForm.password.$error.minlength && signupForm.$submitted" class="help-block">Password is too short</span>
                    </div>

                    <div class="col-xs-6" ng-class="{ 'has-error' : signupForm.$submitted && signupForm.passwordVrf.$invalid }">
                        <!-- password verify -->
                        <label for="inputPasswordVerify" class="sr-only">{{ 'forms.auth.password' | translate }}</label>
                        <input same-as="vm.password" name="passwordVrf" required type="password" data-password-toggle ng-model="vm.passwordVrf"  id="inputPasswordVerify" class="form-control" placeholder="{{ 'forms.auth.password' | translate }}">

                        <!-- password verify / form-errors -->
                        <span ng-show="(signupForm.password.$modelValue !== signupForm.passwordVrf.$modelValue)
                        && signupForm.$submitted" class="help-block">Passwords doesn't match</span>
                    </div>
                </div>
            </div><!-- /form-input-fields -->

                <!-- Sign In Button -->
                <input type="submit"  id="signup" ng-hide="vm.loading" class="primary-btn btn-block" value="{{ 'forms.auth.sign_up_btn' | translate }}">
                <!-- Go Back button -->

                <button class="secondary-btn btn-block" onclick="window.history.go(-1);">{{ 'forms.auth.go_back' | translate }}</button>
        </form>
    </div> <!-- /container -->
</div>