<div class="auth-wrap">
    <div class="auth-container-center">
        <div class="container">
            <div class="main-logo">
                <a class="main-logo-brand" href="/"><i class="fas fa-crown"></i> </a>
            </div>

            <ui-view></ui-view>
        </div>

        <ul class="list-inline language-list" ng-controller="MainController">
            <li><a title="In english" href="" ng-click="changeLanguage('en')">EN</a></li>
            <li><a title="Suomeksi" href="" ng-click="changeLanguage('fi')">FI</a></li>
        </ul>
    </div>
</div>