<div class="container">
    <div class="row pw-recovery-container">
        <form name="passwordResetForm" id="signin-form" class="noselect form-horizontal form-signin col-sm-12 animated bounceInDown" ng-submit="vm.login()" novalidate>
            <i class="fa fa-arrows-alt"></i>
            <a href="" class="signin-header">Reset your password!</a>
            <p>Enter your new password twice below the two input boxes.</p>
            <!-- errors -->
            <div ng-show="passwordResetForm.$submitted" inform></div>

            <div class="form-input-fields">
                <!-- password -->
                <label for="inputPassword" class="sr-only">Password</label>
                <input data-password-toggle ng-model="vm.password" required type="password" id="inputPassword" class="form-control" placeholder="Password">

                <!-- re-type password -->
                <label for="inputPasswordConf" class="sr-only">Password</label>
                <input data-password-toggle ng-model="vm.password_confirm" required type="password" id="inputPasswordConf" class="form-control" placeholder="Password">
            </div> <!-- /form-input-fields -->

            <!-- Sign In Button -->
            <input id="login" ng-disabled="vm.loading" class="primary-btn btn-block" type="submit" value="Send reset instructions">
            <button class="secondary-btn btn-block" onclick="window.history.go(-1);">Go back</button>
        </form>
    </div> <!-- /container -->
</div>