<i ng-show="vm.loading === true" class="fa fa-spinner fa-spin" id="loading"></i>
<div class="row pw-recovery-container">
    <form novalidate ng-submit="passwordResetForm.$valid && vm.reset()" name="passwordResetForm" id="signin-form" class="noselect form-horizontal form-signin col-sm-12 animated bounceInDown">
        <!-- icon -->
        <i class="fa fa-arrows-alt"></i>
        <!-- reset form headline -->
        <a href="" class="signin-header">
            {{ 'forms.auth.reset_form.headline' | translate }}
        </a>
        <!-- reset form text -->
        <p>{{ 'forms.auth.reset_form.text' | translate }}</p>

        <div ng-hide="vm.loading === true">
        <!-- errors & messages -->
        <div ng-show="(passwordResetForm.password.$modelValue !== passwordResetForm.passwordVrf.$modelValue) && passwordResetForm.$submitted" class="alert alert-danger">
            {{ 'forms.auth.signup_form.errors.password_nomatch' | translate }}
        </div>

        <div ng-if="vm.passwordReset" class="alert alert-success">
            {{ vm.passwordResetMsg }}
        </div>

        <div class="form-input-fields">
            <!-- password -->
            <div ng-class="{ 'has-error' : signupForm.$submitted }">
                <label for="inputPassword" class="sr-only">{{ 'forms.auth.password' | translate }}</label>
                <input required type="password" data-password-toggle ng-model="vm.password" name="password"  id="inputPassword" class="form-control" placeholder="{{ 'forms.auth.password' | translate }}">
            </div>

            <!-- password verify -->
            <div ng-class="{ 'has-error' : signupForm.$submitted }">
                <label for="inputPasswordVerify" class="sr-only">{{ 'forms.auth.reset_form.passwordVerify' | translate }}</label>
                <input required type="password" data-password-toggle ng-model="vm.passwordVrf" same-as="vm.password" name="passwordVrf" id="inputPasswordVerify" class="form-control" placeholder="{{ 'forms.auth.reset_form.passwordVerify' | translate }}">
            </div>
        </div> <!-- /form-input-fields -->

        <!-- reset button -->
        <input type="submit" id="resetPassword" ng-disabled="vm.loading" class="primary-btn btn-block" value="{{ 'forms.auth.reset_form.reset_btn' | translate }}">

        <!-- back to login page -->
        <a class="secondary-btn btn-block"  href="/account/login">{{ 'forms.auth.go_back' | translate }}</a>
        </div><!-- / ng-hide -->
    </form>
</div> <!-- /container -->
