// =========================================================
// MAIN BUTTON STYLES
// =========================================================
.primary, .secondary, .default, .secondary-btn, .btn-social-rectangle {
  padding: 10px;
  font-size: 1.7rem;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.primary {
  background-color: #16b;
  background: linear-gradient(to bottom, #2d8cec,#16b);
  background: -webkit-linear-gradient(to bottom, #2d8cec, #16b);  /* Chrome 10-25, Safari 5.1-6 */
  border: 1px solid #0b4075;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
  color: @basic-white;
}
.primary:after {
  font-family: 'Glyphicons Halflings', sans-serif;
  content: "\e131";
  color: @basic-white;
  float: right;
  right: 30px;
  position: absolute;
}
.secondary {
  background-color: #28a745;
  background-image: linear-gradient(to bottom, #34d058, #28a745);
  background-image: -webkit-linear-gradient(to bottom, #34d058, #28a745);
  border-color: #28a745;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: @basic-white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}
.default {
  background-color: #fafafa;
  background: -moz-linear-gradient(#fafafa,#eaeaea);
  background: -webkit-linear-gradient(#fafafa,#eaeaea);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafafa', endColorstr='#eaeaea')";
  border: 1px solid #cacaca;
  box-shadow: 0 1px 0 rgba(255,255,255,.4), 0 0 10px rgba(0,0,0,.1);
  color: #000;
  text-shadow: 0 1px 1px rgba(255,255,255,.75);
}

// =========================================================
// SOCIAL BUTTONS (facebook, twitter, google)
// =========================================================
.btn-social-rectangle {
  border: 0 !important;
  color: @basic-white;
  width: 100%;
}
.btn-social-rectangle:hover {
  color: @basic-white;
}
.btn-facebook, .btn-facebook:focus {
  background-color: @btn-facebook-bg;
}
.btn-facebook:hover {
  background-color: @btn-facebok-bg-hover;
}
.btn-twitter, .btn-twitter:focus {
  background-color: @btn-twitter-bg;
}
.btn-twitter:hover {
  background-color: @btn-twitter-bg-hover;
}
.btn-google, .btn-google:focus {
  background-color: @btn-google-bg;
}
.btn-google:hover {
  background-color: @btn-google-bg-hover;
}