// =========================================================
// APPLICATION BUTTONS
// =========================================================

// =========================================================
// MAIN BUTTON STYLES
// =========================================================
.primary, .secondary, .default, .secondary-btn {
  padding: 10px;
  font-size: 1.7rem;
  text-align: center;
  color: #fdfdfd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.primary {
  background-color: #16b;
  background: linear-gradient(to bottom, #2d8cec,#16b);
  background: -webkit-linear-gradient(to bottom, #2d8cec, #16b);  /* Chrome 10-25, Safari 5.1-6 */
  border: 1px solid #0b4075;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}
.primary:after {
  font-family: 'Glyphicons Halflings', sans-serif;
  color: #fdfdfd;
  content: "\e131";
  float: right;
  right: 30px;
  position: absolute;
}
.secondary {
  background-color: #28a745;
  background-image: linear-gradient(to bottom, #34d058, #28a745);
  background-image: -webkit-linear-gradient(to bottom, #34d058, #28a745);
  border-color: #28a745;
  border-image: none;
  border-style: solid;
  border-width: 1px;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}
.primary-btn {
  background: rgba(0, 65, 122, 0.88);
  padding: 10px !important;
  border: 0 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.primary-btn:hover {
  background: rgba(0, 65, 122, 1);
  color: #fdfdfd;
}
.secondary-btn {
  background-color: #0679aa;
  border: 2px solid #0679aa;
  border-radius: 5px;
  color: #fdfdfd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 10px;
}
.secondary-btn:hover {
  background-color: #036e9b;
  border: 2px solid transparent;
  color: #fdfdfd;
}

// =========================================================
// SOCIAL LOGIN BUTTONS (facebook, twitter, google)
// =========================================================
.btn-social-rectangle {
  border: 0 !important;
  padding: 10px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  color: #fdfdfd;
  width: 100%;
  text-align: center;

  // font-awesome icon for social buttons
  i.fa {
    text-align: left !important;
  }
}
.btn-social-rectangle:hover, .btn-social-rectangle:focus {
  color: #fdfdfd !important;
}
.btn-facebook, .btn-facebook:focus {
  background-color: #306199;
}
.btn-facebook:hover {
  background-color: #1f4066;
}
.btn-twitter, .btn-twitter:focus {
  background-color: #27C4F1;
}
.btn-twitter:hover {
  background-color: #1bb8e5;
}
.btn-google, .btn-google:focus {
  background-color: #EA3F2E;
}
.btn-google:hover {
  background-color: #b22e21;
}
.btn-social-rectangle:hover, .btn-social-rectangle:focus {
  color: #fdfdfd !important;
}