// =========================================================
// APPLICATION FORMS
// =========================================================

// =========================================================
// AUTH FORMS (signin, signup, recover, reset)
// =========================================================
.auth-container {
  .panel {
    //box-shadow: 0 1px 4px rgba(0,0,0,0.55);
    box-shadow: none;
    margin-bottom: 0;
    border: 0;
    background-color: transparent;
  }
  .panel-heading {
    text-align: center;
    font-family: 'Francois One', sans-serif;
    letter-spacing: -1px;
    font-size: 1.77em;
    color: #efefef;
    border: 0;
    text-transform: uppercase;
    background-color: transparent;
  }
  .panel-body {
    padding: 8px 0;

    p {
      text-align: center;
      color: #fdfdfd;
      padding: 0 15px;
    }
  }
}
form.auth-form {
  //background-color: #eee;
  margin: 0 auto;
  width: 100%;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;

  .login-wrap {
    margin-top: 0;
  }
  .form-input-fields {
    margin-top: 0;
    margin-bottom: 10px;
  }
  .input-group {
    margin: 8px 0px 0px 0px;
  }
  // input fields
  .form-control {
    //margin: 5px 0px 5px 0px;
    padding: 20px 0px 20px 10px;
    background-color: #fdfdfd;
    border: 1px solid #ddd !important;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    color: #333;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: none;
    -webkit-transition: none;
  }
  .form-control:focus {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #333;
    background-color: #efefef;
  }
  // input field placeholders
  .form-control::-webkit-input-placeholder,
  .form-control:focus::-webkit-input-placeholder,
  .form-control::-moz-placeholder,
  .form-control:focus::-moz-placeholder,
  .form-control:-ms-input-placeholder,
  .form-control:focus:-ms-input-placeholder,
  .form-control:-moz-placeholder,
  .form-control:focus:-moz-placeholder {
    color: #333;
  }

  .form-icon {
    float: right;
    margin-right: 10px;
    margin-top: -40px;
    position: relative;
    z-index: 2;
    font-size: 2.2rem;
    color: #bdbdbd;
  }

  .form-icon, a.pwd-toggle:before {
    color: #bcbcbc;
  }

  .form-control:focus + .form-icon {
    color: #bcbcbc;
  }

  .form-control:focus + a.pwd-toggle:before {
    color: #333;
  }

  // password toggler (eye) icon
  .password-toggle {
    position:relative;
    display:block;
    user-select: none;
  }
  .password-toggle  a.pwd-toggle {
    cursor:pointer;
    display:inline-block;
    position:absolute;
    width:45px;
    height:45px;
    font-size:2.2rem;
    background-repeat:no-repeat;
    background-size:50%;
    background-position:center;
    top: 5px;
    right: -10px;
    z-index:9999;
    -webkit-tap-highlight-color:transparent;
  }
  .password-toggle [type="text"] + a.pwd-toggle:before {
    font-family: 'Glyphicons Halflings', sans-serif;
    content: "\e106";
  }
  .password-toggle [type="password"] + a.pwd-toggle:before {
    font-family: 'Glyphicons Halflings', sans-serif;
    content: "\e105";
  }

  a.go-back:before {
    font-family: 'Glyphicons Halflings', sans-serif;
    color: #fdfdfd;
    content: "\e132";
    float: left;
    left: 30px;
    position: absolute;
  }

  // =========================================================
  // SIGN IN
  // =========================================================
  .forgot-wrap {
    padding:0;
    display: block;
    text-align: center;
    margin: 15px 0 0 0;
  }
  // forgot password link
  a.forgot-pwd-link {
    color: #efefef;
    text-align: center;
    font-weight: 600;
  }
  // social login (facebook, twitter, google) wrapper
  .social-login {
    margin-top: 10px;
  }

  // =========================================================
  // SIGN UP
  // =========================================================
  .signup-form-control {
    //
    margin: 5px 0 !important;
  }
  // help block for sign up errors
  span.help-block {
    font-size: 0.8em;
    margin-left: 2px;
  }

  // angular animations
  .ng-animate {
    -webkit-animation: none 0s;
  }
}