/* SIGN UP FORM */
#signup-form {
  position: relative;
  min-height: 300px;
  padding: 30px;

  .primary-btn, .secondary-btn {
    padding: 10px;
  }
}

.form-text {
  margin: 0 auto;
  display: block;
  span {
    font-size: 6rem;
    color: #00417a;
  }

  p {
    font-size: 1.5rem;
    color: #fdfdfd;
  }
}

