
.form-signin {
  #fast-animation {
    -webkit-animation-duration: 0.2ms !important;
    -webkit-animation-delay: 0ms !important;
    animation-duration: 0.2ms !important;
    animation-delay: 0ms !important;
    -moz-animation-duration: 0.2ms !important;
    -moz-animation-delay: 0ms !important;
  }
  .alert-test {
    background-color: transparent;
    color: red;
    padding: 0px !important;
    border: 0 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    width: 100%;
    margin: 0 auto;
  }
  .inform-badge {
    //
    display: none !important;
  }
  h2, p, input {
    font-family: 'Lato', sans-serif;
  }

  h2 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    opacity: 0.7;
    color: #fdfdfd;
    padding-bottom: 0px;
  }

  p {
    text-align: center;
    font-size: 1.5rem;
    color: #fdfdfd;
  }


  .faded {
    opacity: 0.5;
    cursor: pointer;
  }

  /* Social Login Buttons */
  .social-login-wrapper {
    text-align: center;
    margin-bottom: 20px;
  }
  .social-login-wrapper ul {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    /* For IE, the outcast */
    zoom:1;
    *display: inline;
  }
  .social-login-wrapper li {
    float: left;
    padding: 2px 6px;
  }
}

a.login-link, span.remember-text {
  font-size: 1.2rem;
  margin-top: 11px;
  color: #fdfdfd;
  font-weight: 600;
}
span.remember-text {
  float: left;
  padding-right: 20px;
}

.right {
  float: right;
}
.login-rm-wrapper {
  margin-bottom: 10px;
}
#login {
  i.fa {
    float: right;
    background-color: #0274cc;
    padding-left: 20px;
    text-align: left;
  }
}
